* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff5722;
    padding: 10px 20px;
}

/* Logo */
.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

/* Nav Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #000;
}

/* Button */
.btn {
    padding: 6px 15px;
    border: none;
    background-color: white;
    color: #ff5722;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: black;
    color: white;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.home {
    
    height: 60vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background: linear-gradient(135deg, #ffffff, #69aafb);
    color: rgb(224, 96, 32);
    text-align: center;
}
/* .right{
    display: flex;
    margin: 12px 12px;

} */
h1 {
    margin-left: 43px;
    font-size: 40px;
}

#typing {
    color: black;
    border-right: 3px solid black;
    padding-right: 5px;
}
.home img{
    width: 300px;
    margin: 120px;
}







/* About Section */
.about {
    padding: 60px 20px;
    background-color: #f5f5f5;
}

.about-container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

/* Image */
.about-img img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}

/* Content */
.about-content {
    flex: 1;
}

.about-content h2 {
    font-size: 32px;
    margin-bottom: 15px;
    color: #333;
}

.about-content p {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
    line-height: 1.6;
}

/* Button */
.about-btn {
    padding: 10px 20px;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.about-btn:hover {
    background-color: black;
}

/* Services Section */
.services {
    
    padding: 60px 20px;
    background-color: #ffffff;
    text-align: center;
}

.services-title {
    font-size: 32px;
    margin-bottom: 40px;
    
}

/* Container */
.services-container {
    background-color: #d6d7ee;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    max-width: 1100px;
    margin: auto;
}

/* Card */
.service-card {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.service-card img {
    width: 100%;
    border-radius: 10px;
}

.service-card h3 {
    margin: 15px 0 10px;
    font-size: 20px;
}

.service-card p {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}

/* Button */
.service-card button {
    padding: 8px 15px;
    border: none;
    background-color: #ff5722;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.service-card button:hover {
    background-color: black;
}

/* Hover Effect */
.service-card:hover {
    transform: translateY(-8px);
}



/* Contact Section */
.contact {
    padding: 60px 20px;
    background-color: #322f33;
    text-align: center;
}

.contact-title {
    color: white;
    font-size: 32px;
    margin-bottom: 40px;
}

/* Container */
.contact-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
}

/* Form */
.contact-form {
    flex: 1;
    min-width: 280px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px 20px;
    border: none;
    background-color: #ff5722;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background-color: black;
}

/* Social Links */
.contact-info {
    color: white;
    flex: 1;
    min-width: 250px;
    text-align: left;
}

.contact-info h3 {
    margin-bottom: 15px;
}

.contact-info a {
    color: white;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    /* color: #333; */
    font-size: 16px;
    transition: 0.3s;
}

.contact-info a:hover {
    color: #ff5722;
}





/* Hamburger */
.menu-toggle {
    display: none;
    font-size: 26px;
    color: white;
    cursor: pointer;
}

/* Mobile Styles */
@media (max-width: 768px) {

    .menu-toggle {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #ff5722;
        flex-direction: column;
        align-items: center;
        display: none;
        padding: 20px 0;
    }

    .nav-links.active {
        display: flex;
    }

    .btn {
        display: none;
    }
}
 /* ../.home/... */

@media (max-width: 768px) {
    .home {
        flex-direction: column;
        text-align: center;
    }

    .home img {
        width: 200px;
        margin-top: 20px;
    }

    .home h1 {
        font-size: 26px;
    }
}
/* .about resposive */

@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-img img {
        max-width: 250px;
    }
}

/* .services */
@media (max-width: 500px) {
    .services-title {
        font-size: 24px;
    }

    .service-card {
        padding: 10px;
    }
}
/* contact */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        text-align: center;
    }

    .contact-info {
        text-align: center;
    }
}